NEXT_PUBLIC_APP_URL=http://localhost:3001

NEXT_PUBLIC_SUPABASE_URL=https://dgsuirflqawhkwotxkfq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnc3VpcmZscWF3aGt3b3R4a2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExNDg0ODYsImV4cCI6MjEwNjcyNDQ4Nn0.HH7WJt_EDKjtWGCz9w1HbnCb9SSDo8E1JmWw0mVrZ2UNEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx
